@using Microsoft.Extensions.Options;
@using Microsoft.AspNetCore.Http;
@using System.Net.Http;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@inject IOptions<SistemaDeAdquisiciones.EndPoint> OptionsApplicationConfiguration
@using BandejasItems = SistemaDeAdquisiciones.Models.BandejasItems;
@using ModeloSolicitud = SistemaDeAdquisiciones.Models.tbl_solicitud;
@using ModeloBandejaItem = SistemaDeAdquisiciones.Models.elementos_bandeja;

@model BandejasItems

@{
    List<Guid> LST = new List<Guid>();

    ModeloBandejaItem BandejaItem = (ModeloBandejaItem)Model.EntidadBandeja;
    List<ModeloSolicitud> Solicitudes = (List<ModeloSolicitud>)Model.Solicitudes;


    //Guid RolUsuario = Guid.Parse(HttpContextAccessor.HttpContext.Session.GetString("IdRolUsuario"));
    //HttpClient clienteHttp = new HttpClient();

    //clienteHttp.BaseAddress = new Uri(OptionsApplicationConfiguration.Value.EndPointGateway);
    //clienteHttp.DefaultRequestHeaders.Accept.Clear();
    //clienteHttp.DefaultRequestHeaders.TryAddWithoutValidation("Content-Type", "application/json; charset=utf-8");

    ////se
    //HttpResponseMessage request = await clienteHttp.GetAsync("SerSolicitud/Get/" + RolUsuario.ToString() + "/" + BandejaItem.parametro1);


    //if (request.IsSuccessStatusCode)
    //{
    //    String obj = await request.Content.ReadAsStringAsync();
    //    List<ModeloSolicitud> Solicitudes = JsonConvert.DeserializeObject<List<ModeloSolicitud>>(obj);


        <div id="@BandejaItem.identificador_pestana" style="display:none; width:80%" class="tabcontent">

            <table id="tbl_@BandejaItem.identificador_pestana" class="display eachTbl" style="width:100%">
                <thead>
                    <tr>
                        <th>Num. solicitud</th>
                        <th>Tipo solicitud</th>
                        <th>Proyecto</th>
                        <th>Área</th>
                        <th>Fecha solicitud</th>
                        <th>Estatus</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ModeloSolicitud item in Solicitudes)
                    {
                            if (!LST.Contains(item.id))
                            {
                                LST.Add(item.id);
                    <tr>
                        <td>@Html.ActionLink(item.num_solicitud, "Detalle", "Solicitud", new { id = item.id }, null)</td>
                        <td>@item.tipo_solicitud</td>
                        <td>@item.proyecto</td>
                        <td>@item.area</td>
                        <td>@item.fecha_solicitud.ToShortDateString()</td>
                        <td>@item.estatus_solicitud</td>
                                @if (BandejaItem.controller.Trim() == "FaseCero")
                                {
                                    if (BandejaItem.identificador_pestana == "Solic_est_merc")
                                    {

                                        if (item.sigla_estatus_solicitud.Trim() == "EMSLC")
                                        {
                                            <td><button class="btn btn-success" onclick="updateSolic('En_valid_EMENV', '@item.id')">Aceptar</button></td>
                                        }
                                        else
                                        {
                                            <td class="text-center">-</td>
                                        }
                                    }
                                    else if (BandejaItem.identificador_pestana == "Suf_recib")
                                    {
                                        if (item.turnar_integr_precios == true)
                                        {
                                            <td class="text-center">-</td>
                                        }
                                        else
                                        {
                                            <td><button class="btn btn-success" onclick="updateSolic('Turn_Int_Prec', '@item.id')">Turnar a integración a precios</button></td>
                                        }
                                        
                                    }
                                    else if (BandejaItem.identificador_pestana == "Valid_docts")
                                    {
                                        if (item.docum_completa == true)
                                        {
                                            <td><button class="btn btn-info" onclick="Modalsinit('SolicitarCotizacion', '@item.id')">Cotizar</button></td>
                                        }
                                        else
                                        {
                                            <td><button class="btn btn-light" disabled>Cotizar</button></td>
                                        }
                                    }
                                    else if (BandejaItem.identificador_pestana == "Sol_cotizacion")
                                    {
                                        <td><button class="btn btn-success" onclick="Modalsinit('CargarCotizacion', '@item.id')">Cargar cotizaciones</button></td>
                                    }
                                    else if (BandejaItem.identificador_pestana == "Sol_dictamen")
                                    {
                                        <td><button class="btn btn-success" onclick="Modalsinit('RegistDictamen', '@item.id')">Dictamen</button></td>
                                        @*<td>@Html.ActionLink("Dictamen", BandejaItem.accion, BandejaItem.parametro2, new { id = item.id }, new { @class = "btn btn-success" })</td>*@
                                    }
                                    else if (BandejaItem.identificador_pestana == "Solic_est_merc_IP")
                                    {
                                        if (item.sigla_estatus_solicitud == "ENESM")
                                        {
                                            <td><button class="btn btn-success" onclick="Modalsinit('RegistrarEstudio', '@item.id')">Registrar estudio</button></td>
                                        } else
                                        {
                                            <td class="text-center">-</td>
                                        }

                                    }
                                    else if (BandejaItem.identificador_pestana == "Mesa_validacion_sol")
                                    {
                                        <td>@Html.ActionLink("Validar documentos", BandejaItem.accion, BandejaItem.parametro2, new { id = item.id }, new { @class = "btn btn-success" })</td>
                                    }
                                    else if (BandejaItem.identificador_pestana == "Mesa_validacion_IP")
                                    {
                                        <td>@Html.ActionLink("Validar documentos", BandejaItem.accion, BandejaItem.parametro2, new { id = item.id }, new { @class = "btn btn-success" })</td>
                                    }
                                    else if (BandejaItem.identificador_pestana == "Sufic_admins")
                                    {
                                        if (item.turnada_sdrm == false)
                                        {
                                            <td><button class="btn btn-success" title="Turnada a subdirección de recursos materiales." onclick="Modalsinit('Turnar_SDRM', '@item.id')">Turnar a SDRM</button></td>
                                        }
                                        else
                                        {
                                            <td class="text-center">-</td>
                                        }                                        
                                    }
                                    else if (BandejaItem.identificador_pestana == "Sol_suficiencia")
                                    {
                                        if (item.sigla_estatus_solicitud != "SFCAT")
                                        {
                                            <td>@Html.ActionLink("Suficiencia...", BandejaItem.accion, BandejaItem.parametro2, new { id = item.id }, new { @class = "btn btn-success" })</td>
                                        }
                                        else
                                        {
                                            <td class="text-center">-</td>
                                        }

                                    }
                                    else if (BandejaItem.identificador_pestana == "Sol_req_aprob")
                                    {
                                        if (item.sigla_estatus_solicitud == "SFCAT")
                                        {
                                            if (item.turnar_integr_precios == true)
                                            {
                                                <td><button class="btn btn-primary" onclick="Modalsinit('SolicitarEstudio', '@item.id')">Solicitar estudio de mercado</button></td>
                                            }
                                            else
                                            {
                                                <td><button class="btn btn-primary" title="Falta turnar solicitud" disabled>Solicitar estudio de mercado</button></td>
                                            }

                                        }
                                        else
                                        {
                                            <td class="text-center">-</td>
                                        }

                                    }
                                    else if (BandejaItem.identificador_pestana == "Solic_regis")
                                    {
                                        <td>@Html.ActionLink("Suficiecnia", BandejaItem.accion, BandejaItem.parametro2, new { id = item.id }, new { @class = "btn btn-success" })</td>
                                    }
                                    else if (BandejaItem.identificador_pestana == "Compl_sol_req")
                                    {
                                        <td>@Html.ActionLink("Completar", BandejaItem.accion, BandejaItem.parametro2, new { id = item.id }, new { @class = "btn btn-success" })</td>
                                    }
                                    else if (BandejaItem.identificador_pestana == "Sol_req_rech")
                                    {
                                        <td>@Html.ActionLink("Link", BandejaItem.accion, BandejaItem.parametro2, new { id = item.id }, new { @class = "btn btn-success" })</td>
                                    }
                                    else if (BandejaItem.identificador_pestana == "Solic_para_adq")
                                    {
                                        <td><button class="btn btn-success" onclick="Modalsinit('RegistrarSolciitudAdq', '@item.id')">Registrar solicitud de adquisición</button></td>
                                    }
                                    else if (BandejaItem.identificador_pestana == "Turnar_solic")
                                    {
                                        <td><button class="btn btn-success" onclick="Modalsinit('TurnarSolciitudAdq', '@item.id')">Turnar solicitud de adquisición</button></td>
                                    }
                                    else if (BandejaItem.identificador_pestana == "Cons_suf_autrz")
                                    {
                                        <td class="text-center">-</td>
                                    }
                                    else if (BandejaItem.identificador_pestana == "Solic_adquisicion")
                                    {
                                        if (item.sigla_estatus_solicitud == "SPREG")
                                        {
                                            <td><button class="btn btn-success" onclick="Modalsinit('AutorizarSolciitudAdq', '@item.id')">Autorizar solicitud de adquisición</button></td>
                                        }
                                        else
                                        {
                                            <td class="text-center">-</td>
                                        }

                                    }
                                    else
                                    {
                                        <td>@Html.ActionLink("Link", BandejaItem.accion, BandejaItem.parametro2, new { id = item.id }, null)</td>
                                    }
                                }

                    </tr>
                            }
                    }

                </tbody>
                                    
            </table>
        </div>
    @*}*@
}
