@{
    Layout = "~/Views/MasterPages/Master.cshtml";
}

@section ViewScripts{
    <script src="~/Resources/MesaValidacion/MesaVal.js"></script>
}


<input type="hidden" value="@ViewData["IDD"].ToString()" id="IDD" />
<input type="hidden" value="@ViewData["idgral"].ToString()" id="idgral" />
<input type="hidden" value="@ViewData["alert"].ToString()" id="alert_txt" />



<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <ul class="nav nav-stacked">
                            <li> <span style="cursor:pointer;" onclick="back()" class="pull-right badge bg-blue"><i class="fa fa-fw fa-angle-double-left"></i>Regresar a Mesa de Validación</span> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Folio Solicitud:</label>
                        <input type="text" id="MV_NUM_SOL" value="@ViewData["NumSol"].ToString()" disabled class="form-control" />
                    </div>
                    <div class="col-lg-4">
                        <label>Nombre Documento:</label>
                        <input type="text" id="NomDoc2" value="@ViewData["NomDoc_"].ToString()" disabled class="form-control" />
                    </div>
                    <div class="col-lg-4">
                        <label>Estatus Documento:</label>
                        <input type="text" class="form-control" value="Validación Solicitada" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <label>Observaciones:</label>
                        <textarea class="form-control" id="MVoberservaciones"></textarea>
                    </div>
                </div>
                <div class="row"><br /><br /></div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <input type="file" id="MV_NUM_FILE" class="form-control" />
                    </div>

                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row controls_">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-body">
                <div class="row text-center">
                    <button onclick="sendfile_version()" type="button" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-warning">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-body">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <table id="TBLDOCUMENTS" class="display" style="width:100%">
                            <thead>
                                <tr>

                                    <th>Nombre del documento:</th>

                                    <th>Versión</th>
                                    <th>Comentario</th>
                                    <th>Alerta</th>


                                    <th>Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div id="Alerta_send" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rechazar documento</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="descripcion_txtarea"></textarea>
                <input type="hidden" id="hidden_" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="callAjax()" data-dismiss="modal">Guardar</button>
            </div>
        </div>

    </div>
</div>