@using Microsoft.Extensions.Options;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using System.Net.Http;
@using ModelInstancia = SistemaDeAdquisiciones.Models.tbl_instancia_contrato_get;
@inject IHttpContextAccessor HttpContextAccessor;
@using SistemaDeAdquisiciones = SistemaDeAdquisiciones;
@inject IOptions<SistemaDeAdquisiciones.EndPoint> OptionsApplicationConfiguration


@{
    var id_ins = HttpContextAccessor.HttpContext.Session.GetString("IdInstancia");
    HttpClient clienteHttp = new HttpClient();

    clienteHttp.BaseAddress = new Uri(OptionsApplicationConfiguration.Value.EndPointGateway);
    clienteHttp.DefaultRequestHeaders.Accept.Clear();
    clienteHttp.DefaultRequestHeaders.TryAddWithoutValidation("Content-Type", "application/json; charset=utf-8");

    //se
    HttpResponseMessage request = await clienteHttp.GetAsync("usuarios/Instancia/Get/" + id_ins);
    ModelInstancia obj_Instancia = new ModelInstancia();

    if (request.IsSuccessStatusCode)
    {
        String obj = await request.Content.ReadAsStringAsync();
        obj_Instancia = JsonConvert.DeserializeObject<ModelInstancia>(obj);

        if (obj_Instancia != null)
        {
            <input type="hidden" value="@obj_Instancia.token_logo_mini" id="HD_logo_min" />
            <input type="hidden" value="@obj_Instancia.token_logo_inicio" id="HD_logo_ini" />
        }


    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin-lte/css/AdminLTE.min.css">
    @*<link rel="stylesheet" href="~/admin-lte/css/skins/skin-blue.min.css">*@
    <link rel="stylesheet" href="~/Styles/Layout/Layout.css" />

    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    

    @await Html.PartialAsync("~/Views/MasterPages/Master_DynamicStyles.cshtml", obj_Instancia)

    @await Html.PartialAsync("~/Views/Modals/Index.cshtml")

    @RenderSection("ViewStyles", required: false)


</head>

<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    @*<input type="hidden" id="EndPointAC" value="http://10.2.15.40:6501/EndPoint/" />*@
    <input type="hidden" id="EndPointAQ" value="@OptionsApplicationConfiguration.Value.EndPointGateway" />
    <input type="hidden" id="EndPointPresCore" value="@OptionsApplicationConfiguration.Value.EndPointCapGastosCore" />
    <input type="hidden" id="EndPointFileAQ" value="@OptionsApplicationConfiguration.Value.EndPointFileManager" />
    <input type="hidden" id="HDidDependencia" value="@HttpContextAccessor.HttpContext.Session.GetString("IdDependencia")" />
    <input type="hidden" id="HDidInstancia" value="@HttpContextAccessor.HttpContext.Session.GetString("IdInstancia")" />
    <input type="hidden" id="HDidUsuario" value="@HttpContextAccessor.HttpContext.Session.GetString("IdUsuario")" />
    <input type="hidden" id="HDidRol" value="@HttpContextAccessor.HttpContext.Session.GetString("IdRol")" />
    <input type="hidden" id="HDidRolUsuario" value="@HttpContextAccessor.HttpContext.Session.GetString("IdRolUsuario")" />
    <input type="hidden" id="_FASE" value="@HttpContextAccessor.HttpContext.Session.GetString("FaseAdquisiciones")" />
    <div class="wrapper" style="overflow:hidden">

        <header class="main-header">
            <!-- Logo -->
            <a class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg LogoInstancia">
                    <img id="logo_header" style="width:100%;" />
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less-->
            <nav class="navbar navbar-static-top">

                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">


                    <ul class="nav navbar-nav">

                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle ListarComentarios1" id="ListarComentarios1" data-toggle="dropdown">
                                <i class="fa fa-comments-o"></i>
                                <span class="label label-success" id="NumC"></span>
                            </a>
                        </li>

                        <!--                        <li class="dropdown messages-menu">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-envelope-o"></i>
                                                        <span class="label label-success">4</span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="header">You have 4 messages</li>
                                                        <li>

                                                            <ul class="menu">
                                                                <li>

                                                                    <a href="#">
                                                                        <div class="pull-left">
                                                                            <img src="~/Resources/Images/user.png" class="img-circle" alt="User Image" />
                                                                        </div>
                                                                        <h4>
                                                                            Support Team
                                                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                                        </h4>
                                                                        <p>Why not buy a new awesome theme?</p>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </li>
                                                        <li class="footer"><a href="#">See All Messages</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown notifications-menu">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-bell-o"></i>
                                                        <span class="label label-warning">10</span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="header">You have 10 notifications</li>
                                                        <li>

                                                            <ul class="menu">
                                                                <li>
                                                                    <a href="#">
                                                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="footer"><a href="#">View all</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown tasks-menu">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-flag-o"></i>
                                                        <span class="label label-danger">9</span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="header">You have 9 tasks</li>
                                                        <li>

                                                            <ul class="menu">
                                                                <li>

                                                                    <a href="#">
                                                                        <h3>
                                                                            Design some buttons
                                                                            <small class="pull-right">20%</small>
                                                                        </h3>
                                                                        <div class="progress xs">
                                                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                                <span class="sr-only">20% Complete</span>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </li>
                                                        <li class="footer">
                                                            <a href="#">View all tasks</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                @*User Account: style can be found in dropdown.less*@
                                                <li class="dropdown user user-menu">

                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <img src="~/Resources/Images/user.png" class="user-image" alt="User Image">
                        @***********Esta linea se comenta porque no hay consultas todavia de usuarios*@
                                                        <span class="hidden-xs">@*@usuario.NOMBRE*@</span>
                        @***********Esta linea se comenta porque no hay consultas todavia de usuarios*@
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        @*User image*@
                                                        <li class="user-header">
                                                            <img src="~/Resources/Images/user.png" class="img-circle" alt="User Image">

                                                            <p>
                        @***********Esta linea se comenta porque no hay consultas todavia de usuarios*@
                                                               @* @usuario.NOMBRE @usuario.AP_PATERNO @usuario.AP_MATERNO*@
                        @***********Esta linea se comenta porque no hay consultas todavia de usuarios*@
                                                                <small>Member since Nov. 2012</small>
                                                            </p>
                                                        </li>

                                                        @*Menu Footer*@
                                                        <li class="user-footer">
                                                            <div class="pull-left">
                                                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                                                            </div>
                                                            <div class="pull-right">
                                                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                @*Control Sidebar Toggle Button*@
                                                <li>
                                                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                                                </li>-->
                    </ul>
                </div>
            </nav>
        </header>


        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Images/user.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <h6 id="H6_val">@HttpContextAccessor.HttpContext.Session.GetString("NombreUsuario")</h6>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form" style="display:none">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Navegación</li>
                    @await Html.PartialAsync("~/Views/MasterPages/Master_Sidebar_Empty.cshtml")
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>


        <footer class="main-footer">
            @*<div class="pull-right hidden-xs">
                    <b>Version</b> 2.4.18
                </div>
                <strong>PMS - 2019 <a>Sistema de Administración de Contratos</a>.</strong> Apego Contractual
                reserved.*@
            <div align="center">
                &copy; 2020 Copyright:
                @*<a href="https://pmsoluciones.mx/"> PM Soluciones </a>*@
                <strong><a href="https://pmsoluciones.com.mx/" target="_blank">@obj_Instancia.copyright</a></strong>
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    @await Html.PartialAsync("~/Views/MasterPages/Loader.cshtml")
    @await Html.PartialAsync("~/Views/Programacion/Index.cshtml")
    @await Html.PartialAsync("~/Views/Comentarios/Modal_Comentarios.cshtml")




    <div id="viewer_window" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 90%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Visor de documentos</h4>
                </div>
                <div class="modal-body viewer_window_body" style="background-color: #474747;">
                    <iframe src="" id="viewer_window_iframe" style="max-width: 100%;width: 100%;height: auto;background-color: white;" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>







    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/admin-lte/js/adminlte.min.js"></script>
    <script src="~/Resources/Layout/Jquery.Layout.js"></script>
    <script src="~/Resources/SweetAlert/SweetAlert.js"></script>
    <script src="~/Resources/Programacion/Jquery.Programacion.js"></script>
    <script src="~/Resources/ComentariosSC/jquery.Comentarios.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


    @RenderSection("ViewScripts", required: false)

    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()

            if ($('#HDidUsuario').val() == '') {
                window.location.href = '/Login/logOut'
            }
        })
    </script>
</body>
</html>