@using Microsoft.AspNetCore.Http;
@using System.Net.Http;
@using Newtonsoft.Json.Linq;
@using Microsoft.Extensions.Options;
@using ApegoContractual = ApegoContractual;
@inject IOptions<ApegoContractual.EndPoint> OptionsApplicationConfiguration
@inject IHttpContextAccessor HttpContextAccessor;
@using ApegoContractual.Helpers;

<style>
    .AccesoDirecto {
        color: red;
        font-size: 150%;
    }

    .AccesoDirectoHome {
        color: green;
        font-size: 150%;
    }
</style>

<script>
    function logOut() {
        localStorage.clear();
        window.location.href = '/Login/logOut';
    }
</script>
@{
    string idCon = HttpContextAccessor.HttpContext.Session.GetString("IdContrato");

    Layout = null;
    string ruta = string.Empty;
    var rol = HttpContextAccessor.HttpContext.Session.GetString("IdRol");
    HttpClient clienteHttp = new HttpClient();
    clienteHttp.BaseAddress = new Uri(OptionsApplicationConfiguration.Value.EndPointGateway);
    clienteHttp.DefaultRequestHeaders.Accept.Clear();
    clienteHttp.DefaultRequestHeaders.TryAddWithoutValidation("Content-Type", "application/json; charset=utf-8");
    HttpResponseMessage request = await clienteHttp.GetAsync("Sidebar/Get/" + rol);

    if (request.IsSuccessStatusCode)
    {
        JArray sidebar = JArray.Parse(await request.Content.ReadAsStringAsync());

        foreach (JObject row in sidebar.Children<JObject>())
        {

            if (row["orden"].ToString() == "0")
            {
                <li class="treeview menu_padre">
                    <a href="#">
                        <i class="fa @row["clase"].ToString()"></i> <span>@row["valor"].ToString()</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @foreach (JObject sub in sidebar)
                        {

                            @if (sub["tiene_contrato"].ToString().ToLower() == "true" && sub["orden"].ToString().ToLower() != "0" && row["tbl_elemento_siderbar_id"].ToString() == sub["subordinado"].ToString())
                            {
                                ruta = "index.html";

                                if (sub["tag"].ToString().ToLower() == "-" & sub["accion"].ToString().ToLower() == "-")
                                {
                                    <li class="treeview hijo-padding">
                                        <a href="#">
                                            <i class="fa @sub["clase"].ToString()"></i> <span>@sub["valor"].ToString()</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            @{
                                                //List<Modelos.Modelos.vs_siderbar> ListSubInt = item.Subordinados.Where(x => x.Parametro2.ToLower() == "item" && x.Parametro3 == sub.id_Pricinpal.ToString()).ToList();

                                                foreach (JObject element in sidebar)
                                                {
                                                    //if (element.tiene_contrato.GetValueOrDefault(false) & (sub.tbl_elemento_siderbar_id == element.tbl_elemento_siderbar_id) & (element.tag == "Item"))
                                                    if (sub["tbl_elemento_siderbar_id"].ToString() == element["subordinado"].ToString())
                                                    {
                                                        if (element["controlador"].ToString() != "-" || element["accion"].ToString() != "-")
                                                        {
                                                            if (idCon != "")
                                                            {
                                                                Guid idContrato = new Guid(idCon.ToString());
                                                                ruta = "/" + element["controlador"].ToString() + "/" + element["accion"].ToString() + "/" + idContrato;
                                                            }
                                                            else
                                                            {
                                                                ruta = "/index.html";
                                                            }
                                                            var cont_ = element["controlador"].ToString();
                                                            var act_ = element["accion"].ToString();
                                                            <li class="@Html.IsSelected(actions: @act_, controllers: cont_) hijo-padding"><a href="@ruta"><i class="fa @element["clase"].ToString()"></i>@element["valor"].ToString()</a></li>
                                                        }
                                                    }
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                                else if (sub["tag"].ToString().ToLower() != "item")
                                {
                                    if ((idCon != "") && (sub["tag"].ToString().ToLower() == "-") && (sub["accion"].ToString().ToLower() != "-"))
                                    {
                                        Guid idContrato = new Guid(idCon.ToString());
                                        ruta = "/" + sub["controlador"].ToString() + "/" + sub["accion"].ToString() + "/" + idContrato;
                                    }
                                    else
                                    {
                                        ruta = "/contrato/index";
                                    }
                                    var cont_ = sub["controlador"].ToString();
                                    var act_ = sub["accion"].ToString();
                                    <li class="@Html.IsSelected(actions: @act_, controllers: cont_) hijo-padding"><a href="@ruta"><i class="fa @sub["clase"].ToString()"></i>@sub["valor"].ToString()</a></li>
                                }
                            }
                        }
                        }
                    </ul>
                </li>
            }


        }
    }
}

@*<li class="header">Navegación</li>*@

<li class="text-center">

    <br />

    <i id="LogOut" onclick="logOut();"
       class="fa fa-power-off AccesoDirecto"></i>
    @*<button class="btn btn-danger fa fa-power-off AccesoDirecto" ></button>*@
</li>
